<%- include("includes/head.ejs") %>

<body>
    <h1>This is the home page</h1>
    <H2><%= 1*8 %></H2>
    <p>
        hello i guys welcome to our channel i am injoy 
        lots of things isn my channel in your are also injoy and come to my 
        channel i wish you hold thigs in this channel my 
        lost of things i do and more values to do.
    </p>
    <button>click me</button>
</body>
</html>